<div class="footer">
    <p>Copyright &copy; <%= new Date().getFullYears() %> par Moussa Sacko | Tout droit Reserver </p>
    <div class="butt">
        <i class=' btn bx bx-up-arrow-alt'></i>
    </div>
</div>
